doctype html
html
  head
    title Actor - #{actor.nombre}
  body
    h1 Nombre: #{actor.nombre}
    h2 Género: #{actor.genero}
    h3 Nacionalidad: #{actor.nacionalidad}
    h3 Película más exitosa: #{actor.peliculaMasExitosa}
    h3 Premios: #{actor.premios}